.cart-no{
    position : absolute;
    min-height: 25px;
    min-width :25px;
    border-radius: 50%;
    font-size:1em;
    background:blue;
    color:white;
    text-align:center;
    top: -12px;
    right : 32px;
}
a{
    text-decoration: none;
    color:var(--main-color);

    &.active{
        color:orange;
    }
}

.logo{
    cursor:printer;
    &.focus{
        outline: none;
    }
}
.user{
    color:var(--secondary-color);
}
.separator{
    color: var(--secondary-color);
}
.userwelcom{
    text-transform: uppercase;
}