<!-- <div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>

            <app-text-input formControlName="userName" [label]="'User Name'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

            <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div> -->

<div class="content-body">
    <mat-card>
        <mat-card-content>

            <div class="pt-5 pb-4">
                <img src="../../../../assets/image/qualitylogo.png">
            </div>
         
             <h2>
                 <img src="../../../../assets/image/loginiconborder (1).png" height="30" width="30">
                Join Now!!
             </h2>
                
            <form  name="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- <div class="email-input form-input"> -->
                    <!--     Email       -->
                    <mat-form-field class="full-width" >
                        <mat-label>User Name</mat-label>
                        <input formControlName="userName" matInput required>
                        <button mat-icon-button matSuffix >
                          <mat-icon>account_circle</mat-icon> 
                        </button>
                       
                        
                        <!-- <mat-error *ngIf="form.controls['username'].errors?.required">
                         Required UserName  
                        </mat-error> -->
                      
                    </mat-form-field>
                <!-- </div>
                <div class="form-input"> -->
                    <!-- <span class="aLink">Forgot Password ?</span> -->
                
                     <!--    Password      -->
                     <mat-form-field class="full-width" >
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput type="password" required>
                         <button mat-icon-button matSuffix >
                            <mat-icon>https</mat-icon> 
                          </button>
                        <!-- <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>       
                        </button> -->
                    
                        <!-- <mat-error *ngIf="form.controls['password'].errors?.required">Required password.</mat-error> -->
                      
                    </mat-form-field> 
  
                <!-- </div> -->
                <button mat-flat-button class="login"  [disabled]="loginForm.invalid" type="submit">Login</button>
            </form>
       
        </mat-card-content>
    </mat-card>
  
  </div>
  