<mat-card class="example-card">
    <div class="example-container mat-elevation-z8">

        <mat-table class="table-striped" [dataSource]="dataSource" #table matSort (matSortChange)="sortData($event)"
            matSortActive="customerName" matSortDirection="asc" matSortDisableClear>


            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header hidden>ID</mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="id"> {{element.id}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="orderedBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>OrderedBy</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="orderedBy"> {{element.orderedBy}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="customerName">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>Customer Name</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="customerName"> {{element.customerName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accountNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>AccountNumber</b></mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="accountNumber"> {{element.accountNumber}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="branch">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>branch</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="branch"> {{element.branch}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ticketNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>ticketNumber</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="ticketNumber"> {{element.ticketNumber}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reportType">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>reportType</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="reportType"> {{element.reportType}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="periodFrom">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b>From</b></mat-header-cell>
                <mat-cell *matCellDef="let element , let row" data-label="periodFrom"
                    [ngClass]="{'highlight' : row.isToLate}">
                    <ng-container>
                        {{element.periodFrom | date:'mediumDate'}}
                    </ng-container>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="periodTo">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b>To</b></mat-header-cell>
                <mat-cell *matCellDef="let element , let row" data-label="periodTo"
                    [ngClass]="{'highlight' : row.isToLate}">
                    <ng-container>
                        {{element.periodTo | date:'mediumDate'}}
                    </ng-container>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reportStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>reportStatus</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="reportStatus"> {{element.reportStatus}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sendTo">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>SendTo</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="sendTo"> {{element.sendTo}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="ccTo">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>CC</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="ccTo"> {{element.ccTo}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>RequestedTime</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="createdAt"> {{element.createdAt}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="reportClass">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>Type</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="reportClass"> {{element.reportClass}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="report">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>Report</b> </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="report">
                    <ng-container>
                        <button mat-button class="text-success font-weight-bolder">
                            View Report
                        </button>
                    </ng-container>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="customReport">
                <mat-header-cell mat-header-cell *matHeaderCellDef><b>CustomReport</b> </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="customReport">


                    <ng-container>
                        <button mat-button class="text-success font-weight-bolder">
                            Attach
                        </button>
                        <span class="mx-2">|</span>
                        <button mat-button class="font-weight-bolder" color="warn">
                            Send
                        </button>
                    </ng-container>

                </mat-cell>



            </ng-container>




            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No Data ...
                </mat-footer-cell>

            </ng-container>



            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


        </mat-table>
    
    </div>



    <mat-paginator [pageSizeOptions]="[50, 25, 100]" [pageSize]="25" (page)="pageChanged($event)" showFirstLastButtons>
    </mat-paginator>

</mat-card>